@tailwind base;
@tailwind components;
@tailwind utilities;

#root,
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

div {
  margin: 0;
  padding: 0;
}

@layer base {
  :root {
    --gray1: 235 235 235;
    --primary: 99 207 232;
    --primary-foreground: 255 255 255;
    --secondary: 255 255 255;
    --secondary-foreground: 99 207 232;
  }
}
